body {
	font-size: 0.8em;
background-image: url("https://images.pexels.com/photos/355770/pexels-photo-355770.jpeg?cs=srgb&dl=adventure-alpine-background-355770.jpg&fm=jpg");

	background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
	 background-size: 1410px, 8900px;
}

ul {
  list-style-type: none;
  margin: 100;
  padding: 0.5px;
  overflow: hidden;
  background-color: white;
	border-radius: 15px;
	box-shadow: 2px 2px 50px #a3a3a3;
}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-family: Courier New;
}

li a:hover {
  background-color: #ffd1e1;
}

p1 {
  font-family: "Courier New", Times, serif;
	color: #f9688e;
	text-align: center;
  font-size: 70px;
	padding-left: 380px;
}

p {
  font-family: "Courier New", Times, serif;
	color: #3e3f42;
	text-align: left;
	font-size: 20px;
}

.square {
  height: 1000px;
  width: 1150px;
  background-color: white;
	margin-top: 20px;
	margin-left: 100px;
	margin-bottom: 0;
	margin-right: 50px;
	position: fixed;
	border-radius: 130px;
	font-family: "Courier New", Times, serif;
	color: grey;
	text-align: left;
	font-size: 30px;
	box-shadow: 3px 3px 50px #a3a3a3;
}

.text-block {
  position: absolute;
  color: white;
  padding-left: 600px;
  padding-right: 70px;
	padding-top: 150px;
}

.image
	{
		position: absolute;
		top: 40px;
		left: 40px;
		padding-right: 700px;
    size: 100px, 200px;
		border-radius: 100px;
	}



